.cover-image {
  position: relative;

  &::before,
  &::after {
    content: "";
    display: block;
    position: absolute;
  }

  &::before {
    inset: 0;
    z-index: 998;
    width: 60%;
    height: 100%;
    background: linear-gradient(
      to right,
      var(--color-background) 0%,
      transparent 100%
    );
  }

  &::after {
    inset: auto 0 0 0;
    z-index: 999;
    width: 100%;
    height: 60%;
    background: linear-gradient(
      to top,
      var(--color-background) 0%,
      var(--color-background) 10%,
      transparent 100%
    );
  }

  &__content {
    position: absolute;
    inset: auto 0 0 0;
    z-index: 1000;
  }
}
