.theme-inzone {
  background: linear-gradient(to right bottom, #000000, #040041, #440d48);

  .rt-Button:where(:not(.rt-variant-ghost)) {
    border: 0.0625rem solid rgba(255, 255, 255, 0.4);
    border-radius: 0.0625rem;
    background-color: #2d75c7;
    padding: 0.6875rem 1.5rem;
    font-size: 0.8125rem;
    min-width: 6.25rem;
    text-align: center;
    color: #fff;
    cursor: pointer;
    height: 2.5rem;
    margin-top: 0.625rem;
  }
}
