.theme-keychron.dark,
.theme-keychron.dark-theme {
  --gray-1: #111113;
  --gray-2: #19191b;
  --gray-3: #222325;
  --gray-4: #292a2e;
  --gray-5: #303136;
  --gray-6: #393a40;
  --gray-7: #46484f;
  --gray-8: #5f606a;
  --gray-9: #fff;
  --gray-10: #f5f6f8;
  --gray-11: #b2b3bd;
  --gray-12: #eeeef0;

  --gray-a1: #1111bb03;
  --gray-a2: #cbcbf90b;
  --gray-a3: #d6e2f916;
  --gray-a4: #d1d9f920;
  --gray-a5: #d7ddfd28;
  --gray-a6: #d9defc33;
  --gray-a7: #dae2fd43;
  --gray-a8: #e0e3fd60;
  --gray-a9: #ffffff;
  --gray-a10: #fcfdfff8;
  --gray-a11: #eff0feb9;
  --gray-a12: #fdfdffef;

  --gray-contrast: #311921;
  --gray-surface: #21212580;
  --gray-indicator: #fff;
  --gray-track: #fff;
}

.theme-keychron.dark,
.theme-keychron.dark-theme {
  --red-1: #000;
  --red-2: #180e0b;
  --red-3: #35140a;
  --red-4: #4e1200;
  --red-5: #5f1a04;
  --red-6: #702812;
  --red-7: #893820;
  --red-8: #b1492a;
  --red-9: #fc4e03;
  --red-10: #ee3f00;
  --red-11: #ff9572;
  --red-12: #ffd5c8;

  --red-a1: #00000000;
  --red-a2: #ff957518;
  --red-a3: #ff613135;
  --red-a4: #ff3b004e;
  --red-a5: #ff460b5f;
  --red-a6: #ff5c2970;
  --red-a7: #ff693c89;
  --red-a8: #ff693db1;
  --red-a9: #ff4f03fc;
  --red-a10: #ff4400ee;
  --red-a11: #ff9572;
  --red-a12: #ffd5c8;

  --red-contrast: #fff;
  --red-surface: #301c1680;
  --red-indicator: #fc4e03;
  --red-track: #fc4e03;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    .theme-keychron.dark,
    .theme-keychron.dark-theme {
      --red-1: oklch(0% 0.013 37.26);
      --red-2: oklch(17.7% 0.0191 37.26);
      --red-3: oklch(24% 0.0569 37.26);
      --red-4: oklch(28.4% 0.0938 37.26);
      --red-5: oklch(32.8% 0.1043 37.26);
      --red-6: oklch(38% 0.1073 37.26);
      --red-7: oklch(44.8% 0.1162 37.26);
      --red-8: oklch(53.8% 0.1426 37.26);
      --red-9: oklch(66.4% 0.2198 37.26);
      --red-10: oklch(62.4% 0.2198 37.26);
      --red-11: oklch(78.9% 0.1859 37.26);
      --red-12: oklch(90.7% 0.0532 37.26);

      --red-a1: color(display-p3 0 0 0 / 0);
      --red-a2: color(display-p3 0.9922 0.6314 0.5412 / 0.087);
      --red-a3: color(display-p3 0.9961 0.4471 0.2667 / 0.193);
      --red-a4: color(display-p3 1 0.3255 0.0863 / 0.279);
      --red-a5: color(display-p3 1 0.3569 0.1412 / 0.342);
      --red-a6: color(display-p3 1 0.4353 0.2431 / 0.408);
      --red-a7: color(display-p3 1 0.4824 0.3098 / 0.499);
      --red-a8: color(display-p3 1 0.4824 0.3098 / 0.644);
      --red-a9: color(display-p3 1 0.3961 0.1804 / 0.914);
      --red-a10: color(display-p3 1 0.3569 0.1686 / 0.859);
      --red-a11: color(display-p3 1 0.6392 0.502 / 0.946);
      --red-a12: color(display-p3 1 0.8667 0.8157 / 0.973);

      --red-contrast: #fff;
      --red-surface: color(display-p3 0.1804 0.1098 0.0863 / 0.5);
      --red-indicator: oklch(66.4% 0.2198 37.26);
      --red-track: oklch(66.4% 0.2198 37.26);
    }
  }
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    .theme-keychron.dark,
    .theme-keychron.dark-theme {
      --gray-1: oklch(17.8% 0.0042 277.7);
      --gray-2: oklch(21.5% 0.004 277.7);
      --gray-3: oklch(25.5% 0.0055 277.7);
      --gray-4: oklch(28.4% 0.0075 277.7);
      --gray-5: oklch(31.4% 0.0089 277.7);
      --gray-6: oklch(35% 0.01 277.7);
      --gray-7: oklch(40.2% 0.0121 277.7);
      --gray-8: oklch(49.2% 0.0157 277.7);
      --gray-9: oklch(100% 0 none);
      --gray-10: oklch(97.3% 0.0026 277.7);
      --gray-11: oklch(77% 0.0138 277.7);
      --gray-12: oklch(94.9% 0.0026 277.7);

      --gray-a1: color(display-p3 0.0667 0.0667 0.9412 / 0.009);
      --gray-a2: color(display-p3 0.8 0.8 0.9804 / 0.043);
      --gray-a3: color(display-p3 0.851 0.898 0.9882 / 0.085);
      --gray-a4: color(display-p3 0.8392 0.8706 1 / 0.122);
      --gray-a5: color(display-p3 0.8471 0.8745 1 / 0.156);
      --gray-a6: color(display-p3 0.8784 0.898 1 / 0.194);
      --gray-a7: color(display-p3 0.8745 0.9059 0.9961 / 0.257);
      --gray-a8: color(display-p3 0.8941 0.9059 1 / 0.37);
      --gray-a9: color(display-p3 1 1 1);
      --gray-a10: color(display-p3 0.9882 0.9922 1 / 0.971);
      --gray-a11: color(display-p3 0.9451 0.949 1 / 0.719);
      --gray-a12: color(display-p3 0.9922 0.9922 1 / 0.937);

      --gray-contrast: #311921;
      --gray-surface: color(display-p3 0.1255 0.1255 0.1412 / 0.5);
      --gray-indicator: oklch(100% 0 none);
      --gray-track: oklch(100% 0 none);
    }
  }
}

.theme-keychron.dark,
.theme-keychron.dark-theme,
:is(.theme-keychron.dark, .theme-keychron.dark-theme)
  :where(.radix-themes:not(.light, .light-theme)) {
  --color-background: #111;
}
